<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ananta"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.legacydev.MainServer"/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=REGISTRIES"/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=""/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Ritom Ghosh\Desktop\Ananta\run"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry key="MCP_TO_SRG" value="C:\Users\Ritom Ghosh\Desktop\Ananta\build\createSrgToMcp\output.srg"/>
    <mapEntry key="MOD_CLASSES" value="ananta%%C:\Users\Ritom Ghosh\Desktop\Ananta\bin\main;ananta%%C:\Users\Ritom Ghosh\Desktop\Ananta\bin\main"/>
    <mapEntry key="mainClass" value="net.minecraft.launchwrapper.Launch"/>
    <mapEntry key="MCP_MAPPINGS" value="stable_39-1.12"/>
    <mapEntry key="FORGE_VERSION" value="14.23.5.2854"/>
    <mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
    <mapEntry key="tweakClass" value="net.minecraftforge.fml.common.launcher.FMLServerTweaker"/>
    <mapEntry key="MC_VERSION" value="${MC_VERSION}"/>
  </mapAttribute>
</launchConfiguration>
